.best	{
	background: url(../img/bg-best.jpg) center / cover no-repeat;
	&__list {
		display: flex;
		margin-top: 2.4375rem;
		@include phones {
			flex-direction: column;
		}
	}
	&__item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 10px;
		@include phones {
			flex-direction: row;
			margin-bottom: 3.846153846153846rem;
		}
	}
	&__desc {
		text-align: center;
		@include phones {
			text-align: left;
		}
	}
	&__title {
		font-family: $subtitle;
		font-size: 1.5rem;
		color: #2f3234;
		margin-bottom: 1.25rem;
	}
	&__text {
		font-size: 14px;
		font-weight: 300;
		color: #2f3234;
		line-height: 1.8;
		opacity: .8;
	}
	&__img {
		margin-bottom: 2.1875rem;
		@include phones {
			margin-bottom: 0;
			margin-right: 2rem;
		}
	}
	&__icon {
		max-width: 96px;
		max-height: 89px;
	}
}