.button {
	font-size: 0.8125rem;
	font-weight: 400;
	color: $white;
	padding: 0.625rem 0.9375rem;
	border-radius: 0.3125rem;
	text-decoration: none;
	text-transform: uppercase;
	background-color: $orange;
	transition: background-color $fast;
	&:hover {
		background-color: $red;
	}
	@include tablets {
		font-size: .75rem;
	}
}