.employee {
	color: #fff;
	@include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__wrapper {
		overflow: hidden;
		height: 0rem;
		transition: height .25s ease;
		will-change: height;
	}
	&__link {
		display: flex;
		align-items: center;
		color: #fff;
		font-family: $title;
		text-decoration: none;
		font-size: 0.875rem;
		margin-bottom: 0.9375rem;
		&::before {
			content: '';
			border: 0.4rem solid transparent;
			border-top-color: $yellow;
			border-bottom-width: 0;
			margin-right: 0.4rem;
			transition: .25s ease;
		}
		@include tablets {
			margin-bottom: 2rem;;
		}
	}
	&__content {
		display: flex;
		padding-left: 1rem;
		@include tablets {
			padding-left: 0;
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	}
	&__img {
		min-width: 6.25rem;
    min-height: 6.25rem;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		@include tablets {
			margin-bottom: 1.571428571428571rem;
		}
	}
	&__title {
		transition: color .25s ease;
		@include tablets {
			font-size: 1.785714285714286rem;
		}
	}
	&__desc {
		margin-left: 1rem;
		@include tablets {
			margin-left: 0;
		}
	}
	&__position {
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 1.5rem;
		margin-bottom: 0.5rem;
	}
	&__text {
		font-weight: 300;
		line-height: 1.5;
	}
}