.hero {
	background: url(../img/bg-hero.jpg) center / cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&__container {
		display: flex;
	}
	&__content {
		display: flex;
		align-items: center;
		@include tablets {
			flex-direction: column;
			text-align: center;
			width: 95%;
		}
	}
	&__text	{
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
		line-height: 1;
	}
	&__picture {
		flex-basis: 50%;
		margin-right: 1rem;
		@include tablets {
			margin: 0;
		}
	}

	&__description {
		font-family: $subtitle;
		font-size: 4.062rem;
		color: #fff;
		line-height: 1;
		letter-spacing: -1.63px;
		@include tablets {
			padding: 0 3rem;
		}
	}
}