.menu-acc {
	height: 100%;
	&__list {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
	&__item {
		display: flex;
		&_active {
			.menu-acc__wrapper {
				width: 540px;
			}
			.menu-acc__title {
				color: $yellow;
			}
		}
	}
	&__wrapper {
		width: 0;
		overflow: hidden;
		transition: width $slow;
	}
	&__trigger {
		display: flex;
		align-items: flex-end;
		width: 5rem;
		padding-bottom: 2.8125rem;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&__title {
		display: flex;
		font-family: $title;
		font-size: 2.5rem;
		color: $white;
		transform: rotate(-90deg);
		white-space: nowrap;
		width: 100%;
		transition: color $slow;
	}
	&__content {
		background-color: rgba(47,50,52,.93);
		height: 100%;
		padding: 4.0625rem 2.1875rem;
		line-height: 1.8;
		color: $white;
		font-size: 0.875rem;
		font-weight: 300;
		min-width: 540px;
	}
}