.menu-acc {
	position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
	display: flex;
	&__list {
		display: flex;
		justify-content: flex-end;
	}
	&__item {
		display: flex;
		background-color: rgba(47, 50, 52, 0.93);
		background-size: 5rem 100%;
		background-repeat: no-repeat;
		width: 5rem;
		overflow: hidden;
		transition: width $slow;
		&_active {
			width: 39.0625rem;
			@include tablets {
				width: calc(100% - 10rem);
			}
			.menu-acc__title {
				color: $yellow;
			}
			.menu-acc__desc {
				opacity: 1;
				padding: 3.9375rem 2.1875rem;
				transition: opacity $slow .2s, padding $slow;
			}
		}
		&_meat {
			background-image: url(../img/menu-acc-01.jpg);
		}
		&_veget {
			background-image: url(../img/menu-acc-02.jpg);
		}
		&_diet {
			background-image: url(../img/menu-acc-03.jpg);
		}
	}
	&__cover {
		font-size: 2.5rem;
    font-family: $title;
		color: $white;
		text-decoration: none;
    width: 5rem;
    display: flex;
    justify-content: center;
		align-items: center;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(47, 50, 52, 0.63);
		}
	}
	&__title {
		transform: rotate(-90deg);
		transition: color $slow;
	}
	&__desc {
		color: $white;
		font-size: 0.875rem;
		font-weight: 300;
		opacity: 0;
		overflow: hidden;
		line-height: 1.8;
		max-width: 100%;
		@include tablets {
			font-size: 1rem;
		}
	}
}