.pagination {
	position: fixed;
	right: 3.125rem;
	top: 6.25rem;
	z-index: 2;
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		margin-bottom: 5px;
	}
	&__item_active .pagination__link {
		border: 1px solid #fff;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		transition: border $fast;
		&::after {
			content: '';
			display: flex;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #fff;
		}
		&:hover {
			border: 1px solid #fff;
		}
	}
}