.reviews {
	position: relative;
	&__list {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}
	&__item {
		flex-basis: 25%;
		width: 25%;
		height: 50vh;
		background-size: cover;
		background-position: center;
	}
	&__hover {
		display: flex;
		align-items: center;
		height: 100%;
	}
}