.slider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	&__container {
		margin: 0 50px;
	}
	&__wrapper {
		display: flex;
		flex: 1;
		width: 58.75rem;
		overflow: hidden;
	}
	&__switch {
		display: flex;
		width: 27px;
		height: 13px;
		&_left {
			transform: rotate(90deg);
		}
		&_right {
			transform: rotate(-90deg);
		}
	}
	&__list {
		display: flex;
		position: relative;
	}
	&__item {
		display: flex;
		flex: 1;
		align-items: center;
		width: 58.75rem;
	}
	&__pic {
		position: relative;
		flex-basis: 50%;
	}
	&__content {
		flex-basis: 50%;
	}
	&__desc {
		color: $white;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.8;
		margin-bottom: 2.25rem;
	}
	&__order {
		display: flex;
		align-items: baseline;
	}
	&__price {
		font-family: $title;
		font-size: 4.5rem;
		color: $orange;
		margin-right: 2rem;
		span {
			font-size: 1.875rem;
		}
	}
}