// Colors

$orange: 			#e45028;
$yellow: 			#f9b43b;
$red: 				#c1401e;

// Fonts

$text: 			'Ubuntu', Helvetica, Arial, sans-serif;
$title: 		'Gagalin', Helvetica, Arial, sans-serif;
$subtitle: 	'Lifehack', Helvetica, Arial, sans-serif;

// Speed

$fast: .15s ease;
$slow: .3s ease;

// Breakpoints

$laptops: 1200px;
$tablets: 768px;
$phones: 	480px;